@import url("root.css");

.container{
    margin: 20px;
    display: flex;
}

.dashboard{
    background: var(--first-color);
    width: 15%;
    border-radius: 30px;
    margin-right: 10px;
    padding: 20px;
}

.market{
    background: var(--first-color);
    width: 85%;
    border-radius: 30px;
    margin-left: 10px;
}

.dashboard-item{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.2em;

    margin: 20px 5px;
    padding: 5px 5px 5px 20px;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;

    transition: 0.3s ease;
}

.dashboard-item:hover{
    background: var(--third-color);
}

.market-item{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.market-link{
    margin: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;

    background: var(--second-color);
    color: var(--text-color);

    font-size: 1.3em;
}

.market-link:hover{
    box-shadow: 0 0 15px var(--text-color);
}